.cart__product-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}
.cart__product-img {
    width: 30%;
    height: 30%;
    min-width: 90px;
    max-width: 200px;
    min-height: 90px;
    max-height: 200px;
    align-self: center;
}
.cart__product-btn {
    width: 3rem;
    font-size: 2rem;
    border-radius: 10px;
    cursor: pointer;
}
.cart__product-btn--less{
    background-color: rgb(194, 38, 18);
    color: var(--white-color)
}
.cart__product-cantidad{
    padding: 0 .75rem;

}
.cart__product-btn--add{
    background-color: rgb(21, 126, 73);
    color: var(--white-color)
}
