

.a {
    text-decoration: none;
}
.btn {
    outline: none;
    border: none
}
.main {
    max-width: 2100px;
    margin: auto;
}

/* INCIO CSS PARTICULAR */
.body {
    width: 100%;
    height: 100%;
    display:block;
}

/* FORMULARIO PARA CREAR ITEMS  */

.create-item-section {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}
.form__label {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    padding:0.3rem;
    font-size: 1.4rem;
}

.form__input {
    width: 70%
}
.form__input--submit {
    padding: 0.8rem;
    border-radius: 15px;
    border: none;
    margin-top: 1rem;
    width: 100%;
    max-width: 300px;
    background-color: #ffc107;
}

.create-item__p {
    font-size: 1.6rem;
    width: 90%;
    margin: 1rem auto;
    text-align: center;
    border: solid 1px var(--primary-color-opacity);
    /* background: hsl(45, 73%, 88%); */
    border-radius: 20px;
}
.create-item__a-render {
    color: #ffc107;
}
.create-item__a-render:hover {
    color: #866605;
}

/* LISTA DE PRODUCTOS ENCABEZADO */
.list-item-section{
    /* max-height: 50vh; */
}
.items__h2{
    font-size: 2rem;
    letter-spacing: 1px;
    margin-left: 1rem;
}
.items-table {
    height: 50vh;
    display: block;
    overflow-y: auto;
}
.items__tr{
    display:none;
}

/* PRODUCTOS RENDERIZADOS DE LA BD */
.item-tr-fetch {
    border: solid 1px #ffc107;
    border-radius: 10px;
    /* background: hsl(45, 73%, 88%); */
    width: 100%;
    margin: .5rem 0;
    font-size: 1.5rem;
}

.item-tr__span{
    display: flex;

    justify-content: space-between;
    margin: 1rem .5rem;
}

.item-tr__span--description {
    flex-direction: column;
    align-items: flex-start;
}

.item-image__img{
    display: block;
    width: 100px;
    height: 100px;
    /* background-color: aqua; */
}

.item-tr__btn {
    padding: .6rem 1.8rem;
    color: var(--white-color);
    border-radius: 6px;
}

.edit-btn {
    background-color: #148b04;
}
.delete-btn {
    background-color: #ca0d0d;
}
.item-tr__btn:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}
.edit-btn:hover {
    background-color: #2baf53;
}
.delete-btn:hover {
    background-color: #f51818;
}

/* MENSAJE DE ERROR CON JS AL ELIMINAR */

.delete-warningMessage {
    text-align: center;
    font-size: 1.2rem;
    margin-top: .2rem;
    font-weight: 600;
    /* border: solid 1px red; */
    
}