@media screen and (min-width: 426px) {
    /* SLIDES */
    .slides-container {
        height: 82vh;
    }
    /* OPTIONS */
    .home-options-figure {
        height: 60vh;
    }
    .home-options__a {
        bottom:3rem;
    }
    /* Nuestra Propuesta */
    .propuesta-tittle__h3{
        font-size: 4rem;
    }
}

@media screen and (min-width: 770px) {
    .propuesta__img-container {
        width: 75%;
        margin: auto;
    }
    .propuesta__video {
        height: 60vh;
        max-height: 500px;
    }  
}

@media screen and (min-width: 982px) {
    /* Nuestra Propuesta */
    .propuesta__img-video-container {
        margin: auto;
        flex-direction: row;
    }
    .propuesta__img-container {
        width: 55%;
    }
    .propuesta__video-container {
        width: 40%;
        margin: auto;
    }
    .propuesta__video {
        height: 60vh;
        max-height: 500px;
    }  

    /* img-bar */
    .img-bar {
        margin: 2rem auto;
        padding: 2rem 0;
    } 
    .img-bar__img{
        min-width: none;
        max-width: none;
        width: 10vw;
    }
}
