/*        SLIDES        */

.slides-container {
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: 800;
}

.slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s ease;
    z-index: 800;
}

.slide__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 800;
}

.slide-active {
    visibility: visible;
    opacity: 1;
}

.slide__btn {
    display: inline-block;
    min-width: fit-content;
    position: relative;
    width: 20vw;
    height: 6vh;
    cursor: pointer;
    padding: 5px 20px;
    font-size: 1.6rem;
    border-radius: 50px;
    z-index: 800;
    border: none;
    text-align: center;
    line-height: 28px;
}


/* WPP BTN */
.slide__btn-one {
    left: -40px;
    bottom: 40px;
    background-color: rgb(23, 216, 55);
    color: #fff;
}


.slide__btn-one:hover {
    background-color: #fff;
    color: #000;
}

/* RESERVA BTN */

.slide__btn-two {
    color: #000;
    bottom: 60px;
    background-color: rgba(229, 0, 0, 0.75); 
}

.slide-arrow-btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    margin: 0 5px;
    text-align: center;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 900;
    background-color: rgba(90, 89, 89, 0.473);
    border: none;
    color: #fff;
    cursor: pointer;
    z-index: 800;
}

.slide-btn-arrow-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



/*      HOME OPTIONS        */

.home-options-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.home-options-figure {
    width: 35vh;
    height: 46vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.home-options__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BOTONES DE OPTIONS */

.home-options__a {
    display: inline-block;
    background-color: transparent;
    border: 2px solid #ebebeb;
    border-radius: 50px;
    padding: 8px 20px;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.8px;
    color: #ebebeb;
    cursor: pointer;
    /* margin-bottom: 1.3rem; */
    align-self: center;
    position: absolute;
    bottom: .8rem;
    z-index: 800;
}

.home-options__a:hover {
    background-color: #ebebeb;
    color: #666;
}

/*  NUESTRA PROPUESTA        */


.propuesta-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.propuesta-tittle {
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.propuesta-tittle__h3 {
    color: #2d2d2d;
}

.propuesta-tittle__h3--green {
    color: rgba(89,214,0,0.23);
    letter-spacing: 1px;
}
.propuesta__img-video-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.propuesta__img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.propuesta__img {
    width: 250px;
    height: auto;
    margin: 1rem;
}

.propuesta__video-container {
    display: flex;
    width: 83%;
    margin: auto;
    justify-content: center;
    align-items: center;
} 

.propuesta__video {
    display: flex;
    width: 100%;
    min-height: 200px;
    height: 30vh;
    margin: 10px 0;
}

/* IMG BAR */

.img-bar {
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin: 5px 0;
    border: solid 1px #a1a0a065;
}

.img-bar__img {
    display: inline-block;
    min-width: 50px;
    max-width: 100px;
    padding: 10px;
}

/* RESERVA - BANNER */

.reserva-banner {
    position: relative;
}

.reserva-banner__img{
    width: 100%;
    height: 35vh;
    max-height:300px;
    object-fit: cover;
}

.reserva-banner__info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    color: var(--white-color);
}

.reserva-banner__h3 {
    font-size: 2.2rem;
    font-weight: bolder;
}
.reserva-banner__p {
    font-size:1.6rem;
    margin: 10px;
}
.reserva-banner__a {
    width: fit-content;
    padding:10px;
    margin-top: 20px;
    border-radius: 50px;
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--orange-color)
}

/* Contacto */

.contacto {
    width:100%;
    height: auto;
    margin: 15px 0px 30px 0px;
}

.contacto__span {
    display: block;
    text-align: center;
    color: var(--primary-color-opacity);
    font-size: 1.5rem;
}

.contacto__h3 {
    display:block;
    text-align: center;
    font-size: 1.8rem;
}

.contacto__input{
    display: block;
    width: 80%;
    height: 4rem;
    margin:11px auto 0px;
    padding-left: 1.5rem;
    border: 1px solid var(--primary-color-opacity)
}

.contacto__input--textarea {
    display: block;
    width: 80%;
    margin: 11px auto 0px;
    padding: 1.5rem;
    border: 1px solid var(--primary-color-opacity)
}

.contacto__input--placeholder::placeholder {
    font-family: var(--font-family);
    font-size: 1.5rem;
}

.contacto__submit {
    display: block;
    width: 80%;
    height: 4rem;
    margin:11px auto 0px;
    color: var(--white-color);
    background-color: var(--orange-color);
    border: none;
}

