.header__datos-container {
  justify-content: flex-end;
  align-items: center;
}

.datos__p {
  font-size: 1.6rem;
  margin-right: 1rem;
}

.header__cart {
  display: flex;
  align-items: center;
  margin: 0 1rem;
  font-size: 1.6rem;
}
.a-svg {
  margin: 0 .4rem;
  color: var(--white-color);
  width: 25px;
}
.svg-cart-counter {
  color: var(--white-color);
  width: 25px;
}
.a-svg:hover {
  width: 24px;
  color:var(--orange-color);
}

.datos__btn {

  display:flex;
  cursor: pointer;
  border-radius: 20px;
  background-color: transparent;
  color: var(--white-color);
  border: solid 1px #000;
  font-weight: 300;
}

.datos__btn:hover {
  color: red;
  background-color: #000;
  border-color: red;
}



